<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BiblioBresciaOpen</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='/bootstrap.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
</head>

<body>

    <div class="container-fluid">


        <div class="jumbotron jumbotron-fluid text-white bg-danger text-center">
            <h1 class="display-4 text-center">BiblioBresciaOpen</h1>
            <p class="lead">Il primo sito che ti mostra quali Biblioteche di Brescia sono aperte ora, in una sola
                pagina
            </p>
        </div>




        <div class="row">
            <p style="text-align:center"> Orario aggiornato al {{today_date}} (Oggi)</p>
        </div>
        <div class="row">
            <div class="col">
                <h2>Aperte Oggi</h2>
                <table class="table" id="biblioaperte">




                    {% for item in listaAperte %}
                    <tr>
                        <td><a href="{{item.url}}"> {{item.nome}}</a></td>
                        <td>{{item.orario  | replace ("['", "") | replace ("']", "") | replace ("', '", "\n") }}
                        </td>
                    </tr>

                    {% endfor %}

                </table>
            </div>
            <div class="col">
                <h2>Chiuse Oggi</h2>
                <table class="table" id="chiuse">

                    {% for item in listaChiuse %}

                    <tr>
                        <td><a href="{{item.url}}"> {{item.nome}}</a></td>
                        <td>{{item.orario | replace ("['", "") | replace ("']", "") }}
                        </td>
                        {% endfor %}
                </table>

            </div>

        </div>


        <div class="row ">
            <div class="col text-center"> Nota: La biblioteche di Casazza e Arnaldo hanno eliminato l'orario dalla loro
                pagina</div>
        </div>
        <div class="row">
            <div class="col text-center">

                <p>Gli orari si aggiornano ogni giorno</p>
                <hr>
                <a href="mailto:danielemariotto@gmail.com">Contattami</a>
                © 2020 Copyright - Daniele Mariotto
                <br><br><br>
            </div>
            <!-- Copyright -->
        </div>
        

    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>