<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brescia BibliOpen</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='/bootstrap.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
</head>

<body>
   


    <div class="jumbotron jumbotron-fluid text-white bg-danger">
        <div class="container">
            <h1 class="display-4">Brescia BibliOpen</h1>
            <p class="lead">Il primo sito che ti mostra quali Biblioteche di Brescia sono aperte ora, in una sola pagina
            </p>
        </div>
    </div>

 

    <div class="container">

        <div class="row">
            <div class="col-sm">
                <h2>Aperte Oggi</h2>
                <table class="table" id="biblioaperte">

                    
                    
                
                    {% for item in listaAperte %}
                    <tr><td><a href="{{item.url}}">  {{item.nome}}</a></td><td>{{item.orario | replace ("['", "") | replace ("']", "") }}</td></tr>

                    {% endfor %}
                    
                </table>
            </div>
            <div class="col-sm">
                <h2>Chiuse Oggi</h2>
                <table class="table" id="chiuse">

                    {% for item in listaChiuse %}
                   
                    <tr><td><a href="{{item.url}}">  {{item.nome}}</a></td><td>{{item.orario | replace ("['", "") | replace ("']", "") }}
                    </td>
                    {% endfor %}
                </table>

            </div>

        </div>



        Nota: La biblioteche di Casazza e Arnaldo hanno eliminato l'orario dalla loro pagina

        <hr>
        <!-- Footer -->
        <footer class="page-footer font-small pt-4">

            <!-- Footer Links -->
            <div class="container-fluid text-center text-md-left">

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-6 mt-md-0 mt-3">

                        <!-- Content -->

                        <p>Gli orari si aggiornano ogni giorno</p>

                    </div>
                    <!-- Grid column -->

                    <hr class="clearfix w-100 d-md-none pb-3">

                    <!-- Grid column -->
                    <div class="col-md-3 mb-md-0 mb-3">

                        <!-- Links -->


                        <a href="mailto:danielemariotto@gmail.com">Contattami</a>



                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 mb-md-0 mb-3">

                        <!-- Links -->




                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </div>
            <!-- Footer Links -->

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2020 Copyright
                Daniele Mariotto
            </div>
            <!-- Copyright -->

        </footer>
        <!-- Footer -->

        

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="static/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>